#{extends 'main.html' /}
#{set title:'Edit Event' /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<div class="wrapper">

	<div id="docSidebar">
		<div id="logo">
			<img src="@{'/public/playmanual/logo.png'}">				
			<h2 id="version">Play ${play.version}</h2>
		</div>

		<h2>Logged in as: ${me.name}</h2>

        <h2>Links</h2>
        <ul>
			<li><a href="@{Application.index()}">Home</a></li>
			<li><a href="@{Application.getUsers()}">Users</a></li>
			<li><a href="@{Application.index()}logout">Logout</a></li>
        </ul>
    </div>

	<div id="pageContent">
		<div class="wikistyle">
			<h1>Event: ${event.name}</h1>

			<form action="@{Application.saveEvent()}" method="GET">
				<ul>
					<li>Name:</li><input type="text" name="newEventName" value="${event.name}" />
					<li>Start:</li><input type="text" name="start" value="${event.printDate(event.start)}" />
					<li>End:</li><input type="text" name="end" value="${event.printDate(event.end)}" />
					<li>Public:</li><input type="checkbox" name="isPublic" ${event.isPublic ? ' checked=checked':''} />
					<input type="hidden" name="calendarName" value="${calendar.name}" />
					<input type="hidden" name="oldEventName" value="${event.name}" />
				</ul>
				<input type="submit" value="Save" />
			</form>
        </div>
    </div>
			
</div>