#{extends 'main.html' /}
#{set title:'Events' /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<div class="wrapper">

	<div id="docSidebar">
		<div id="logo">
			<img src="@{'/public/playmanual/logo.png'}">				
			<h2 id="version">Play ${play.version}</h2>
		</div>

		<h2>Logged in as: ${me.name}</h2>
		
		<h2>Events</h2>
		#{if calendar.owner.name == me.name}
		<ul>
			<li><a href="@{Application.editEvent(calendar.name, "")}">Add event</a></li>
		</ul>
		#{/if}

        <h2>Links</h2>
        <ul>
			<li><a href="@{Application.index()}">Home</a></li>
			<li><a href="@{Application.getUsers()}">Users</a></li>
			<li><a href="@{Application.index()}logout">Logout</a></li>
        </ul>
    </div>

	<div id="pageContent">
		<div class="wikistyle">
			<h1>Calendar: ${calendar.name}</h1>

				#{list items:events, as:'event'}
				<ul>
					<li>Name:	#{if calendar.owner.name == me.name}<a href="@{Application.editEvent(calendar.name, event.name)}">${event.name}</a>#{/if}#{else}${event.name}#{/else}</li>
					<li>Start:	${event.printDate(event.start)}</li>
					<li>End:	${event.printDate(event.end)}</li>
					<li>Public:	${event.isPublic.toString()}</li>
				</ul>
				#{/list}
        </div>
    </div>
			
</div>