#{extends 'main.html' /}
#{set title:'Users' /}

#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/playmanual/manual.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<link rel="stylesheet" href="@{'/public/playmanual/wiki.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<div class="wrapper">

	<div id="docSidebar">
		<div id="logo">
			<img src="@{'/public/playmanual/logo.png'}">				
			<h2 id="version">Play ${play.version}</h2>
		</div>

		<h2>Logged in as: ${me.name}</h2>

        <h2>Links</h2>
        <ul>
			<li><a href="@{Application.index()}">Home</a></li>
			<li><a href="@{Application.index()}logout">Logout</a></li>
        </ul>
    </div>

	<div id="pageContent">
		<div class="wikistyle">
			<h1>Users:</h1>

			<ul>
				#{list items:users, as:'user'}
				<li><a href="@{Application.getCalendars(user.name)}">${user.name}</a></li>
				#{/list}
			</ul>
        </div>
    </div>
			
</div>